// Generic
$primary-color: #375a7f;
$primary-focus-color: #2b4764;

$secondary-color: #444444;
$secondary-focus-color: #2C2C2C;

$success-color: #00bc8c;
$success-focus-color: #009670;

$info-color: #3498db;
$info-focus-color: #2384c6;

$warning-color: #f39c12;
$warning-focus-color: #d4860b;

$danger-color: #e74c3c;
$danger-focus-color: #e12e1c;

$light-color: #adb5bd;
$light-focus-color: #9fa8b2;

$dark-color: #303030;
$dark-focus-color: #232323;

$background-color: #222222;
$background-alt-color: #303030;

$border-color: #454545;


// Text
$text-color: #ffffff;
$text-alt-color: #222222;

$text-primary-color: $primary-color;
$text-secondary-color: $secondary-color;
$text-muted-color: #888888;
$text-help-color: #aaaaaa;

$link-color: #337ab7;
$link-focus-color: #49a8e8;


// Highlights
$bg-text-color: $text-color;
$bg-link-color: #628bae;


// Forms
$forms-text-color: #555555;
$forms-background-color: #ffffff;
$forms-placeholder-color: rgba($forms-text-color, 0.6);


// Vue.js tree
$tree-text-focus-color: $text-color;
$tree-background-focus-color: #505050;
$tree-background-selected-color: #606060;


// Django autocomplete light
$dal-result-focus-text-color: $text-color;
$dal-result-focus-background-color: #5897fb;
$dal-result-selected-text-color: $text-color;
$dal-result-selected-background-color: #dddddd;


// Navbar
$navbar-text-color: rgba($text-color, 0.6);
$navbar-text-focus-color: $text-color;
$navbar-text-disabled-color: rgba($text-color, 0.4);
$navbar-brand-color: #ffffff;

$navbar-background-color: #222222;
$navbar-background-active-color: #080808;
$navbar-border-color: transparent;

$secondary-navbar-background-color: #333333;


// Dropdown
$dropdown-background-focus-color: #375a7f;


// Buttons
$button-text-color: $text-color;


// Alerts
$alert-text-color: $text-color;
$alert-link-color: #628bae;


// Pagination
$pagination-text-color: $text-color;
$pagination-background-color: $secondary-color;
$pagination-focus-background-color: $secondary-focus-color;

$pagination-active-text-color: $text-color;
$pagination-active-background-color: $primary-color;

$pagination-border-color: #505050;


// Panels
$panel-text-color: $text-color;
$panel-text-focus-color: $panel-text-color;
$panel-text-default-color: $text-color;
$panel-background-color: #303030;
$panel-background-focus-color: #505050;
$panel-border-color: $border-color;

$panel-heading-background-color: #353535;
$panel-footer-background-color: #353535;

$panel-badge-text-color: #303030;
$panel-badge-background-color: #ffffff;
$panel-badge-alt-background-color: $panel-badge-background-color;


// Cards
$thumbnail-background-color: transparent;
$thumbnail-border-color: $border-color;


// Modals
$modal-background-color: $panel-background-color;
$modal-border-color: $border-color;
$modal-heading-background-color: $modal-background-color;
$modal-heading-border-color: $border-color;


// Tables
$table-background-color: transparent;
$table-alt-background-color: $secondary-focus-color;

$table-default-text-color: $text-color;
$table-default-background-color: #222222;
$table-default-focus-background-color: $table-default-background-color;

$table-success-text-color: $text-color;
$table-success-background-color: $success-color;
$table-success-focus-background-color: $success-focus-color;

$table-info-text-color: $text-color;
$table-info-background-color: $info-color;
$table-info-focus-background-color: $info-focus-color;

$table-warning-text-color: $text-color;
$table-warning-background-color: $warning-color;
$table-warning-focus-background-color: $warning-focus-color;

$table-danger-text-color: $text-color;
$table-danger-background-color: $danger-color;
$table-danger-focus-background-color: $danger-focus-color;

$table-light-text-color: $text-color;
$table-light-background-color: $light-color;
$table-light-focus-background-color: $light-focus-color;

$table-dark-text-color: $text-color;
$table-dark-background-color: $dark-color;
$table-dark-focus-background-color: $dark-focus-color;


// Lists
$list-text-color: #ffffff;
$list-background-color: $background-alt-color;
$list-border-color: transparent;
