// This file lists all the variables to edit for your theme.

// Generic
$primary-color: none;
$primary-focus-color: none;

$secondary-color: none;
$secondary-focus-color: none;

$success-color: none;
$success-focus-color: none;

$info-color: none;
$info-focus-color: none;

$warning-color: none;
$warning-focus-color: none;

$danger-color: none;
$danger-focus-color: none;

$light-color: none;
$light-focus-color: none;

$dark-color: none;
$dark-focus-color: none;

$background-color: none;
$background-alt-color: none;

$border-color: none;


// Text
$text-color: none;
$text-alt-color: none;

$text-primary-color: none;
$text-secondary-color: none;
$text-muted-color: none;
$text-help-color: none;

$link-color: none;
$link-focus-color: none;


// Highlights
$bg-text-color: none;
$bg-link-color: none;


// Forms
$forms-text-color: none;
$forms-background-color: none;
$forms-placeholder-color: none;


// Vue.js tree
$tree-text-focus-color: none;
$tree-background-focus-color: none;
$tree-background-selected-color: none;


// Django autocomplete light
$dal-result-focus-text-color: none;
$dal-result-focus-background-color: none;
$dal-result-selected-text-color: none;
$dal-result-selected-background-color: none;


// Navbar
$navbar-text-color: none;
$navbar-text-focus-color: none;
$navbar-text-disabled-color: none;
$navbar-brand-color: none;

$navbar-background-color: none;
$navbar-background-active-color: none;
$navbar-border-color: none;

$secondary-navbar-background-color: none;


// Dropdown
$dropdown-background-focus-color: none;


// Buttons
$button-text-color: none;


// Alerts
$alert-text-color: none;
$alert-link-color: none;


// Pagination
$pagination-text-color: none;
$pagination-background-color: none;
$pagination-focus-background-color: none;

$pagination-active-text-color: none;
$pagination-active-background-color: none;

$pagination-border-color: none;


// Panels
$panel-text-color: none;
$panel-text-focus-color: none;
$panel-text-default-color: none;
$panel-background-color: none;
$panel-background-focus-color: none;
$panel-border-color: none;

$panel-heading-background-color: none;
$panel-footer-background-color: none;

$panel-badge-text-color: none;
$panel-badge-background-color: none;
$panel-badge-alt-background-color: none;


// Cards
$thumbnail-background-color: none;
$thumbnail-border-color: none;


// Modals
$modal-background-color: none;
$modal-border-color: none;
$modal-heading-background-color: none;
$modal-heading-border-color: none;


// Tables
$table-background-color: none;
$table-alt-background-color: none;

$table-default-text-color: none;
$table-default-background-color: none;
$table-default-focus-background-color: none;

$table-success-text-color: none;
$table-success-background-color: none;
$table-success-focus-background-color: none;

$table-info-text-color: none;
$table-info-background-color: none;
$table-info-focus-background-color: none;

$table-warning-text-color: none;
$table-warning-background-color: none;
$table-warning-focus-background-color: none;

$table-danger-text-color: none;
$table-danger-background-color: none;
$table-danger-focus-background-color: none;

$table-light-text-color: none;
$table-light-background-color: none;
$table-light-focus-background-color: none;

$table-dark-text-color: none;
$table-dark-background-color: none;
$table-dark-focus-background-color: none;


// Lists
$list-text-color: none;
$list-background-color: none;
$list-border-color: none;
