// Generic
$primary-color: #b58900;
$primary-focus-color: #8f6c00;

$secondary-color: #839496;
$secondary-focus-color: #6f8183;

$success-color: #2aa198;
$success-focus-color: #22837b;

$info-color: #268bd2;
$info-focus-color: #2076b2;

$warning-color: #cb4b16;
$warning-focus-color: #a83e12;

$danger-color: #d33682;
$danger-focus-color: #ba296f;

$light-color: #fdf6e3;
$light-focus-color: #fbeecb;

$dark-color: #073642;
$dark-focus-color: #05232b;

$background-color: #002b36;
$background-alt-color: #073642;

$border-color: #0c4655;


// Text
$text-color: #839496;
$text-alt-color: #002b36;

$text-primary-color: $primary-color;
$text-secondary-color: $secondary-color;
$text-muted-color: #839496;
$text-help-color: $text-muted-color;

$link-color: #2aa198;
$link-focus-color: $link-color;


// Highlights
$bg-text-color: #ffffff;
$bg-link-color: #00e8d2;


// Labels
$label-text-color: #ffffff;


// Forms
$forms-text-color: #495057;
$forms-background-color: #a9bdbd;
$forms-placeholder-color: rgba($forms-text-color, 0.6);


// Vue.js tree
$tree-text-focus-color: $text-color;
$tree-background-focus-color: #a9bdbd;
$tree-background-selected-color: #b4cccc;


// Django autocomplete light
$dal-result-focus-text-color: $text-color;
$dal-result-focus-background-color: #133B45;
$dal-result-selected-text-color: #bfd0d2;
$dal-result-selected-background-color: #205562;


// Navbar
$navbar-text-color: rgba(#ffffff, 0.5);
$navbar-text-focus-color: rgba(#ffffff, 0.75);
$navbar-text-disabled-color: rgba(#ffffff, 0.25);
$navbar-brand-color: #ffffff;

$navbar-background-color: #073642;
$navbar-background-active-color: $navbar-background-color;
$navbar-border-color: transparent;

$secondary-navbar-background-color: #073642;


// Dropdown
$dropdown-background-focus-color: #002b36;


// Buttons
$button-text-color: #ffffff;


// Alerts
$alert-text-color: #ffffff;
$alert-link-color: #00e8d2;


// Pagination
$pagination-text-color: #2aa198;
$pagination-background-color: $background-color;
$pagination-focus-background-color: $background-alt-color;

$pagination-active-text-color: rgba(#ffffff, 0.75);
$pagination-active-background-color: $background-alt-color;

$pagination-border-color: $border-color;


// Panels
$panel-text-color: #ffffff;
$panel-text-focus-color: $text-color;
$panel-text-default-color: $text-color;
$panel-background-color: $dark-color;
$panel-background-focus-color: $dark-focus-color;
$panel-border-color: $border-color;

$panel-heading-background-color: $dark-color;
$panel-footer-background-color: $dark-color;

$panel-badge-text-color: $panel-background-color;
$panel-badge-background-color: $text-color;
$panel-badge-alt-background-color: #ffffff;


// Cards
$thumbnail-background-color: transparent;
$thumbnail-border-color: $border-color;


// Modals
$modal-background-color: $panel-background-color;
$modal-border-color: $border-color;
$modal-heading-background-color: $modal-background-color;
$modal-heading-border-color: $border-color;


// Tables
$table-background-color: transparent;
$table-alt-background-color: rgba(#ffffff, 0.075);

$table-default-text-color: $text-color;
$table-default-background-color: darken($background-color, 10%);
$table-default-focus-background-color: $table-default-background-color;

$table-success-text-color: #d9c27a;
$table-success-background-color: darken($success-color, 10%);
$table-success-focus-background-color: darken($success-focus-color, 10%);

$table-info-text-color: #d9c27a;
$table-info-background-color: darken($info-color, 10%);
$table-info-focus-background-color: darken($info-focus-color, 10%);

$table-warning-text-color: #d9c27a;
$table-warning-background-color: darken($warning-color, 10%);
$table-warning-focus-background-color: darken($warning-focus-color, 10%);

$table-danger-text-color: #d9c27a;
$table-danger-background-color: darken($danger-color, 10%);
$table-danger-focus-background-color: darken($danger-focus-color, 10%);

$table-light-text-color: $text-alt-color;
$table-light-background-color: darken($light-color, 10%);
$table-light-focus-background-color: darken($light-focus-color, 10%);

$table-dark-text-color: #d9c27a;
$table-dark-background-color: darken($dark-color, 10%);
$table-dark-focus-background-color: darken($dark-focus-color, 10%);


// Lists
$list-text-color: #ffffff;
$list-background-color: $background-alt-color;
$list-border-color: transparent;
